<p style="color: green"><%= notice %></p>

<%= render @podcastscrapping %>

<div>
  <%= link_to "Edit this podcastscrapping", edit_podcastscrapping_path(@podcastscrapping) %> |
  <%= link_to "Back to podcastscrappings", podcastscrappings_path %>

  <%= button_to "Destroy this podcastscrapping", @podcastscrapping, method: :delete %>
</div>
